.home-icon
    color: #FFDC00
    font-size: 1.6em
    padding: 1em

//menu icon and content
.menu-icon
    color: #FFDC00
    font-size: 1.8em
    padding: 1em
    border: none
    background-color: inherit
    cursor: pointer

#menu
    height: 100%
    width: 0%
    position: fixed
    z-index: 1
    left: 0
    top: 0
    background-color: rgba(0,0,0, 0.9)   
    overflow-x: hidden
    transition: 0.5s

.menu-content
    position: relative
    top: 25%
    width: 100%
    padding-left: 0.5em

.menu-content li
    padding: 1em
    text-decoration: none
    font-size: 1.4em
    line-height: 0
    text-align: left
    display: block
    transitions: 0.3s

#close-button
    position: absolute
    padding-top: 0.5em
    padding-right: 1em
    right: 0
    font-size: 3em

.menu-color
    color: whitesmoke

//instagram and fb
.logo-container
    text-align: center
    padding-top: 1em

.logo-icon
    color: black
    font-size: 1.8em
    padding: 0.2em