.showcase-image
    position: relative
    height: 50vh

.showcase-image img
    position: relative
    width: 100%
    height: 100%
    object-fit: cover
    object-position: bottom

.showcase-image h1
    position: absolute
    width: 100%
    top: 0