#navigation-bar
    background: #39cccccc
    display: flex
    flex-direction: row
    align-items: center
    height: min-content

.home-container
    flex-basis: 70%
    text-align: left

.menu-icon-container
    flex-basis: 30%
    text-align: right
    
#showcase
    background: #39cccccc

#section-a
    padding-bottom: 1.5em

#section-b
    background: #3d9770

#section-c
    background: #FFDC00
    
#main-footer
    padding-top: 5em
    padding-bottom: 1em
    background: #FFDC00
    color: #00000070
    font-size: 10px
    line-height: 10px


