.grid
    padding: 1em 1em 0 1em

#navigation-bar
    display: flex
    flex-direction: row
    justify-content: space-between
    top: 0
    left: 0
    right: 0
    z-index: 100
    width: 100%
    height: 80px
    position: absolute
    background-color: rgba(0, 0, 0, 0.3)

#navigation-bar.clear-bar
    background-color: rgba(0, 0, 0, 0)

#logo
    font-family: $logo-font
    font-size: 2.4rem
    color: white

.home-container
    flex-basis: min-content
    height: inherit
    display: inline-flex
    align-items: center
    padding-left: 1.5rem

.menu-icon-container
    flex-basis: auto
    height: inherit
    display: inline-flex
    justify-content: right
    padding-right: 0.5rem

.title
    text-align: center
    font-size: 2rem
    line-height: 1.2em
    font-family: $logo-font
    padding: 0.5em
    display: inline-block

.section-a
    background: white
    padding: 0em 1em 0 1em

.section-a ul li
    margin-bottom: 1em

.section-a ul li a
    margin-top: 1em

.section-b
    background: whitesmoke
    font-size: 1.3rem
    line-height: 2rem
    margin-top: 1em

.section-c
    background: white
    font-size: 1.3rem
    line-height: 2rem

.section-d
    background: white
    text-align: left
.section-d .content-wrap
    font-size: $text-font
    line-height: 2rem

#main-footer
    padding: 2em 0 0 0
    background: white
    color: #00000070
    line-height: 2em
    height: min-content
    font-size: 0.65rem
    text-align: center

.flex-box
    display: flex
    flex-flow: column
    height: 100%

.flex-item
    flex: 90%

.flex-footer
    flex: auto

.center
    text-align: center

.top-padding
    padding-top: 1em
.bottom-padding
    padding-bottom: 1em
.big-spacing
    line-height: 2em

// content
.opening
    margin: 1rem 0 3rem 0
    font-size: 1.5rem
    line-height: 2rem
    font-weight: lighter

.landing-page-text
    font-size: 1.2rem
    line-height: 1.5rem
    font-weight: lighter

// race descriptions
.info-container
    padding: 1rem 1rem 1rem 2rem
    background-color: whitesmoke

.equipment li,
.price li
    padding-left: 1.5em

// accordian
.accordian a
    font-size: 1.2rem
.inner
    padding: 1rem
    overflow: hidden
    display: none
    font-size: $text-font

    &.show
        /*display: block;*/
a.toggle
    display: block
    background-color: $green
    color: white
    padding: 1em
    border-radius: 0.1em
    margin: 0.3em 0 0 0.3em
    transition: background 0.3s ease
    line-height: 2rem
    font-size: 1.5rem
    font-weight: lighter

    &:hover
        color: $green
        background: $green-transparent