$yellow-background: rgba(255, 221, 0, 0.7) //comes from #FFDC00
$yellow-button: rgba(255, 221, 0, 1)
$contact-form: rgba(255, 221, 0, 0.5)
$green-background: rgba(81, 184, 139, 1) //comes from #3d9770s
$green-button: rgba(81, 184, 139, 1)

@keyframes fadeEffect
    0%
        opacity: 0
    40%
        opacity: 0.7
    100%
        opacity: 1