@keyframes fadeEffect
    0%
        opacity: 0
    40%
        opacity: 0.7
    100%
        opacity: 1

@keyframes arrow
  0%
    opacity: 1
  100%
    opacity: 0
    transform: translate(-10px, -10px)

@font-face
    font-family: 'GilroyThin'
    src: url("fonts/gilroy-light-webfont.woff") format("woof")
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'GilroyExtraBold'
    src: url("fonts/gilroy-extrabold-webfont.woff") format("woof")
    font-weight: normal
    font-style: normal

$yellow-button: #FFBB94
$green: #87c5be
$green-title: #61b6ac
$green-transparent: #87c5be40
$main-font: 'Lato', sans-serif
$button-font: 'Roboto', sans-serif
$logo-font: 'Martel Sans', sans-serif
