@keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
html {
  height: 100%;
  font-size: 1em;
}

body {
  font-family: "Open Sans", sans-serif;
  background: white;
  color: #333;
  line-height: 1.4em;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2 {
  margin: 0;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}

h2 {
  font-size: 1.3rem;
  font-family: Arial;
  font-weight: normal;
}

p {
  margin: 0;
}

.content-title {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #87c5be;
}

.small-text {
  font-size: 1rem;
}

.main-text {
  font-size: 1.2rem;
  line-height: 1.9rem;
}

.menu-icon {
  color: white;
  font-size: 2.5rem;
  border: none;
  background-color: inherit;
  cursor: pointer;
  align-self: center;
}

#menu {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: #87c5be;
  transition: 0.5s;
}

.menu-content {
  position: relative;
  width: 100%;
  overflow: hidden;
  top: 5rem;
}

.menu-content li,
.menu-content li ul li {
  padding: 0.5em;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  display: block;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.menu-link:hover {
  text-decoration: none;
}

#close-button {
  position: absolute;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  right: 0;
  font-size: 3.5rem;
  color: whitesmoke;
  cursor: pointer;
}

.menu-link {
  color: whitesmoke;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: 0;
  background: #87c5be;
  color: white;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1.2rem;
}

.btn:hover,
.btn:focus {
  color: #87c5be;
  background: #87c5be40;
}

.icon-container {
  text-align: center;
  padding-top: 2.5em;
}

.icon {
  color: #333;
  font-size: 2rem;
  padding: 0.3em;
}

#logo:hover {
  text-decoration: none;
}

.grid {
  padding: 1rem 1.5rem 0 1.5rem;
}

#navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
}

#navigation-bar.clear-bar {
  background-color: rgba(0, 0, 0, 0);
}

#logo {
  font-family: "Martel Sans", sans-serif;
  font-size: 2.4rem;
  color: white;
}

.home-container {
  flex-basis: min-content;
  height: inherit;
  display: inline-flex;
  align-items: center;
  padding-left: 1.5rem;
}

.menu-icon-container {
  flex-basis: auto;
  height: inherit;
  display: inline-flex;
  justify-content: right;
  padding-right: 1rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  line-height: 1.2em;
  font-family: "Martel Sans", sans-serif;
  padding: 0.5em;
  display: inline-block;
}

.section-a {
  background: white;
  padding: 0em 1em 0 1em;
}

.section-a ul li {
  margin-bottom: 1em;
}

.section-a ul li a {
  margin-top: 1em;
}

.section-b {
  background: white;
  font-size: 1.2rem;
  line-height: 1.8rem;
  height: auto;
  padding-top: 0;
}

.section-c {
  background: white;
  font-size: 1.2rem;
  line-height: 1.9rem;
}

.section-d {
  background: white;
  text-align: left;
}

.section-d .content-wrap {
  font-size: 1.2rem;
  line-height: 1.9rem;
}

#main-footer {
  padding: 2em 0 0 0;
  background: white;
  color: #00000070;
  line-height: 2em;
  height: min-content;
  font-size: 0.65rem;
  text-align: center;
}

.flex-box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.flex-item {
  flex: 90%;
}

.flex-footer {
  flex: auto;
}

.center {
  text-align: center;
}

.top-padding {
  padding-top: 1em;
}

.bottom-padding {
  padding-bottom: 1em;
}

.opening {
  margin: 1rem 0 3rem 0;
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: lighter;
}

.landing-page-text {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: lighter;
  padding-bottom: 1.5rem;
}

.info-container {
  padding: 1rem 1rem 1rem 2rem;
  background-color: whitesmoke;
}

.equipment li,
.price li {
  padding-left: 1.5em;
}

.accordian a {
  font-size: 1.2rem;
}

.inner {
  padding: 1rem;
  overflow: hidden;
  display: none;
  font-size: 1.2rem;
}
.inner.show {
  /*display: block;*/
}

a.toggle {
  display: block;
  background-color: #87c5be;
  color: white;
  padding: 1rem;
  border-radius: 0.1em;
  margin: 0.3em 0 0 0.3em;
  transition: background 0.3s ease;
  line-height: 1.9rem;
  font-size: 1.3rem;
  font-weight: normal;
}
a.toggle:hover {
  color: #87c5be;
  background: #87c5be40;
}

#contact-form {
  width: inherit;
  height: min-content;
  text-align: center;
  margin: 3rem 0 0 0;
  line-height: 2.8em;
}

#contact-form > input,
#contact-form > textarea,
#submit-button {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  color: #333;
  border: none;
  width: 100%;
  background-color: inherit;
  margin-bottom: 0.3em;
  border-bottom: 1px solid;
}

#contact-form > textarea {
  resize: none;
}

#submit-button {
  width: auto;
  padding: 0.5em;
  margin-top: 0.5em;
  background-color: #87c5be;
  color: white;
  border-bottom: 0;
  border-radius: 3px;
}

#submit-button:hover,
#submit-button:focus {
  text-decoration: underline;
}

.has-error {
  background-color: red;
}

#showcase {
  position: relative;
}

.hero-image {
  position: relative;
  height: 20rem;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.showcase-image {
  position: relative;
  height: 20rem;
}

.showcase-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.showcase-title {
  position: absolute;
  text-align: left;
  bottom: 1rem;
  color: white;
  font-family: "Martel Sans", sans-serif;
  font-size: 3rem;
  line-height: 1.1em;
}

img.image-center {
  object-position: center;
}

img.image-top {
  object-position: top;
}

.big-headline {
  position: absolute;
  text-align: left;
  bottom: 1rem;
  color: white;
  font-family: "Martel Sans", sans-serif;
  font-size: 3.7rem;
  line-height: 1.1em;
  display: none;
}

.big-headline.active {
  display: block;
}

.headline {
  color: white;
  background-color: #87c5be;
  padding: 0;
  height: 80px;
  min-height: 70px;
  width: 100%;
  display: none;
  position: relative;
}

.text-wrap {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.headline-text {
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-family: "Martel Sans", sans-serif;
  line-height: 1.1em;
  font-weight: lighter;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.headline.active {
  display: block;
}

.card-content {
  text-align: center;
  position: relative;
  padding: 1em;
}

.card-title {
  text-align: center;
  bottom: 1rem;
  color: white;
  font-family: "Martel Sans", sans-serif;
  font-size: 2.3rem;
  line-height: 1.1em;
}

.card-content p {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: lighter;
  color: #111;
  padding-bottom: 1rem;
}

#race-1 {
  background-color: rgba(255, 112, 104, 0.95);
}

#race-2 {
  background-color: rgba(255, 228, 52, 0.8);
}

#race-3 {
  background-color: rgba(87, 178, 201, 0.8);
}

#race-4 {
  background-color: #fab65e;
}

@media screen and (min-height: 500px) and (max-width: 700px) {
  .menu-content {
    top: 20%;
  }
}
@media screen and (min-height: 600px) and (max-width: 700px) {
  .hero-image,
.showcase-image {
    min-height: 26rem;
    height: 26rem;
  }
}
@media screen and (min-height: 700px) and (max-width: 700px) {
  .hero-image,
.showcase-image {
    min-height: 28rem;
    height: 28rem;
  }
}
@media screen and (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  }

  .image-grid {
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr 0.4fr;
    grid-template-rows: auto auto;
    grid-template-areas: ". race-1 race-1 ." ". race-2 race-2 ." ". race-3 race-3 ." ". race-4 race-4 .";
    grid-gap: 1em;
  }

  #race-1,
#race-2,
#race-3,
#race-4,
.content-wrap,
#main-footer div {
    grid-column: 2/4;
  }

  .showcase-title {
    font-size: 3.7rem;
  }

  .hero-image {
    height: 70vh;
  }

  .showcase-image {
    height: 60vh;
  }

  .section-a {
    padding: 1em;
  }

  .section-b {
    min-height: 30vh;
    max-height: min-content;
  }

  .content-title,
.section-b .content-wrap {
    text-align: left;
  }

  .section-a ul li {
    margin: 0;
  }

  #navigation-bar #menu {
    height: initial;
    width: 100%;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    flex-basis: auto;
    display: inline-flex;
    background: transparent;
    align-items: center;
  }

  #menu ul {
    display: inline-flex;
    justify-content: flex-end;
    padding-right: 0.5rem;
    align-items: center;
  }

  #menu ul li {
    height: min-content;
    font-size: 1.55rem;
  }

  #navigation-bar .menu-icon-container,
#menu #close-button {
    display: none;
  }

  .menu-content {
    top: 0;
  }

  .menu-link {
    color: white;
  }

  #contact-form {
    line-height: 1.5em;
  }

  .landing-page-text {
    font-size: 1.3rem;
    line-height: 1.9rem;
    padding-top: 1.5rem;
    padding-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
